@media screen and (min-width: 360px){
  
  .about{
    padding: 5px;   
  }
    
  #flower, #flower-02{
    width: 190px !important;
  }

  #flower{   
    position: absolute;    
    left: -5% !important;      
    transform: translateX(5%);
  }
  
  #flower-02{
    position: absolute;    
    bottom: 0% !important;
    right: -5% !important;  
  }    
}