
/*  mobile */
@media screen and (min-width: 384px) {
    
  .about{
    padding: 5px;  
  }
    
  #flower, #flower-02{  
    width: 280px;
    height: auto;  
  }

  #flower{   
    position: absolute;
    top:-3%;
    left: -20%; 
    transform: translateX(5%);           
  }
  
  #flower-02{
    position: absolute;
    bottom: 0;           
    right: -10%;               
  }
}
