
/*  mobile */
@media screen and (min-width: 412px) {
    
  .about{
    padding: 5px;   
  }
    
  #flower{
    position: absolute;
    top:-3%;
    left: 25%;
    transform: translateX(-50%);
  }
  
  #flower-02{
    position: absolute;
    bottom: 0;
    right: -5%;
  }

}
